[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastai = "~=2.7.14"
graphviz = "~=0.20.3"
ipywidgets = "~=7.8.1"
matplotlib = "~=3.8.4"
nbdev = "~=2.3.13"
pandas = "~=2.2.2"
scikit-learn = "~=1.4.2"
azure-cognitiveservices-search-imagesearch = "~=2.0.0"
sentencepiece = "~=0.2.0"
jupyter = "~=1.0.0"
duckduckgo-search = "~=5.3.0"
fastbook = "~=0.0.29"

[dev-packages]

[requires]
python_version = "3"
